# Do not upload node_modules (too large, can be reinstalled automatically)
node_modules/

# Ignore .env (contains sensitive information like passwords and keys)
.env

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db
